<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://mkdev.me">MKDEV.ME</a>
    </div>
    <ul class="nav navbar-nav">
      <li [routerLinkActive]="['active']"> <a [routerLink]="['/home']">Home</a></li>
      <li [routerLinkActive]="['active']"> <a [routerLink]="['/products']">Products</a></li>
      <li [routerLinkActive]="['active']"> <a [routerLink]="['/about']">About</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li [routerLinkActive]="['active']">
        <a [routerLink]=" ['/cart']">
          <span class="glyphicon glyphicon-shopping-cart"></span>Cart</a>
      </li>
    </ul>
  </div>
</nav>
