<div class="container">
  <table class="table table-bordered">
    <caption>Корзина</caption>
    <thead>
      <tr>
        <th>Название</th>
        <th>Цена</th>
        <th>Количество</th>
        <th>Подитог</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cartProduct of cartProducts">
        <td>{{cartProduct.product.name}}</td>
        <td>{{cartProduct.product.price | currency:'USD':true:'1.2-2'}}</td>
        <td>{{cartProduct.quantity}}</td>
        <td>{{(cartProduct.product.price * cartProduct.quantity) | currency:'USD':true:'1.2-2'}}</td>
      </tr>
      <tr>
        <td colspan=3 align=right><b>Итого :</b></td>
        <td>{{totalPrice | currency:'USD':true:'1.2-2'}}</td>
      </tr>
    </tbody>
  </table>
  <button class="btn-lg btn-info" (click)="checkoutCart()">Оформить заказ</button>
  <app-popup>
  </app-popup>
</div>
