<h1>{{title}}</h1>
<div class="container">
  <div class="loader" *ngIf="pending"></div>
  <div id="products" class="row list-group">
    <app-product *ngFor="let product of products" [product]="product">
    </app-product>
  </div>
</div>
