<div class="item  col-xs-3 col-lg-3">
  <div class="thumbnail">
    <img class="group list-group-image" src={{product.image}} alt="placeholder" />
    <div class="caption">
      <h4 class="group inner list-group-item-heading">
{{product.id}}. {{product.name}}</h4>
      <p class="group inner list-group-item-text">
        {{product.description}}</p>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <p class="lead">
            {{product.price | currency:'USD':true:'1.2-2'}}</p>
        </div>
        <div class="col-xs-12 col-md-6">
          <div *ngIf="product.quantity">В наличии {{product.quantity}} штук.</div>
          <div *ngIf="!product.quantity">Нет в наличии.</div>
        </div>
        <div class="col-xs-12 col-md-6">
          <button class="btn btn-success" (click)="addToCart()">Add to cart</button>
        </div>
      </div>
  </div>
</div>