.popup {
  width: 250px;
  position: fixed;
  right: 30px;
  top: 50px;
  z-index: 9999;
}

.loader {
  background: url(app/assets/images/loader.gif) no-repeat center;
  position: fixed;
  width: 100%;
  height: 50%;
  z-index: 1;
}

.btn-lg {
  position: relative;
  top: 10px;
  left: 85%;
}
